extends layout

block content
    p Enter your information. All boxes are required to be filled in to create an account.
    script(src='avatarEdit.js')
    form(class='form', id='form', method='post', action='/create')
        label UserName:
        input(class='nameInput',type='text', name='username', placeholder='Username')
        br
        label Email:
        input(class='emailInput',type='text', name='email', placeholder='Email')
        br
        label Password:
        input(class='passInput',type='password', name='password', placeholder='Password')
        br
        label Age:
        input(class='ageInput',type='text', name='age', placeholder='Age')
        br
        br
        img(class='avatar', src='https://api.adorable.io/avatars/face/eyes1/nose2/mouth1/7f7f7f', id='avatar',width=290, height=290, style='float:left')
        select(class='select',name ='eyes', onchange='changeEyes(this.value, nose.value, mouth.value, r.value, g.value, b.value)')
            option(value='eyes1') Straight
            option(value='eyes10') Tired
            option(value='eyes2') Squint
            option(value='eyes3') Lower Circle
            option(value='eyes4') Higher Circle
            option(value='eyes5') Content
            option(value='eyes6') Skeptical
            option(value='eyes7') Puppy
            option(value='eyes9') Tilted
        br
        select(class='select',name='nose', onchange='changeEyes(eyes.value, this.value, mouth.value, r.value, g.value, b.value)')
            option(value='nose2') Tilted 
            option(value='nose3') Small
            option(value='nose4') Pointy
            option(value='nose5') Round
            option(value='nose6') Long 
            option(value='nose7') Square
            option(value='nose8') High 
            option(value='nose9') Rectangular
        br
        select(class='select',name='mouth', onchange='changeEyes(eyes.value, nose.value, this.value, r.value, g.value, b.value)')
            option(value='mouth1') Mmmm...
            option(value='mouth10') Uhh...
            option(value='mouth11') Heh
            option(value='mouth3') Hmm...
            option(value='mouth5') Ooo
            option(value='mouth6') Ahh
            option(value='mouth7') AAAHH
            option(value='mouth9') Yay
        br
        input(class='red',type='range', min='0', max='255', name='r', onchange='changeEyes(eyes.value, nose.value, mouth.value, this.value, g.value, b.value)')
        br
        input(class='green',type='range', min='0', max='255', name='g', onchange='changeEyes(eyes.value, nose.value, mouth.value, r.value, this.value, b.value)')
        br
        input(class='blue',type='range', min='0', max='255', name='b', onchange='changeEyes(eyes.value, nose.value, mouth.value, r.value, g.value, this.value)')
        br  
        input(class='enter',type='submit', value='Create Account')
