doctype html
html
    head
        link(href="style.css" rel="stylesheet")
        title #{title}
    body
        nav
            ul
                li
                    a(href='/') Logo Here
                if username != "" && username != null
                    li
                        a(href='/edit') Welcome #{username}
                    li
                        a(href='/logout') Logout
                else
                    li
                        a(href='/login') Login
                    li
                        a(href='/create') Register
                if username == "admin"
                    li
                        a(href='/admin') Admin Page
        div(class='mainBody')
            h1 #{title}
            block content