doctype html
html
    head
        link(href="style.css" rel="stylesheet")
        title #{title}
    body
        nav
            ul
                li
                    a(href='/') Logo Here
                li
                    a(href='/profile') My Profile
        div(class='mainBody')
            h1 #{title}
            block content