body{
    background-color: #6e7271;
}
.mainBody{
    color:#c5c3c6;
    
    background-color:#606656;
    border: 3px solid #c0caad;
    border-radius: 5px;
    padding:5px;
}
.messageDisplay{
    margin:0px auto;
    width:50%;
}
.messageBox{
    background-color: #464a3f;
    color: #c5c3c6;
    width: 600px;
    min-height: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}
.messageBoxText{
    float: right;
    width:530px;
}
.messageBox .profilePic{
    float:left;
    width: 50px;
    height: 50px;
    border-radius: 10px 20px 10px 20px;
}
.messageBox p{
    margin: 0px;
}
.username{
    color:#b26e63;
    float:left;
}
.timestamp{
    color:#b26e63;
    float:right;
}
.messageBody{
    clear: both;
    padding-top: 3px;
    border-top: 1px solid #353830;
}
nav{
    color:#b26e63;
    display:table;
    margin: 25px auto;
}
nav ul{
    list-style: none;
    padding:0px;
    margin: 0;
}
nav ul li{
    display:inline;
    margin:0px 5px;
}
nav ul li a{
    padding: 10px 15px;
    background-color:#9da9a0;
    text-decoration: none;
    border: 3px solid #c5c3c6;
    border-radius: 5px;
}
nav ul li a:link{
    color:#b26e63;
}
nav ul li a:visited{
    color:#b26e63;
}
nav ul li a:hover{
    color:#b26e63;
}
nav ul li a:active{
    color:#b26e63;
}
.test{
    color:#464a3f;
    color:#9da9a0;
    color:#b26e63;
    color:#6e7271;
    color:#c5c3c6;
}